body{
  margin: 0;
  padding: 0;
}

.stats{
  block-size: 10%px;
  background-color: #f7f5f1;
  margin: 50px 0px;

  display: flex;
  flex-direction: column;

  max-width: 100vw;

}

.cardsApp{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  margin: 0px 20px 80px 20px;
}

.cardsTitle{

  width: fit-content;
  max-width: 100vw;
  margin: 5% auto;
  text-align: center;

}

.stats{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.team{
  display: flex;
  margin: 80px;
}

.factsSection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  max-width: 100%;
}

.factBox{
  border-right:#282c34 1px solid;
  padding: 15px;
  width: 250px;
  text-align: center;
  
}
.factBox1{
  padding: 15px;
  width: 220px;
  text-align: center;
}
.factsSection{
  display: flex;
}
.team{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.photos{
  flex: 2;
  display: flex;
  column-gap: 35px;
}
.articles{
  flex: 1;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sideLinks{
  list-style: none;
}
#commi{
  border: #61dafb 2px solid;
  border-radius: 50%;
  width: 220px;
  height: 200px;
}

#sp{
  border: #61dafb 2px solid;
  border-radius: 50%;
  width: 220px;
  height: 210px;
}


/* small-device: 576px;
medium-device: 768px;
large-device: 992px;
extra-large-device: 1200px; */

/* Media queries for smaller devices */
@media (max-width: 576px) {

  .stats{
    text-align: center;
  }
  

  .factsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .factBox, .factBox1{
    border: none;
    padding: 0;
    width: 50%;
    text-align: center;

    border-bottom:#282c34 1px solid;

    margin-bottom: 10%;
  }
}

/* Media queries for medium devices */
@media (max-width: 850px) {

  .stats{
    text-align: center;
  }

  .factsSection{
    max-width: 100vw;

    flex-wrap: wrap;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .factBox, .factBox1{
    border: none;
    padding: 0;
    width: 50%;
    text-align: center;

    border-bottom:#282c34 1px solid;

    margin: 2%;

  }
}
