.topFooter{
    background-color: black;
    color: aliceblue;
    position: relative;
    top: 100%;
    /* 
    Remove the margin top afterwards, i added it for cards
    */
    margin-top: 80px;
    padding: 2%px;

    display: flex;
    flex-direction: column;

}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.head h2,
.head h5 {
    margin: 0; 
}

.box{
    margin: 0;
    position: relative;
    margin-left: 2%;
    /* text-decoration: underline; */
}

.list, .column-list{
    
    max-width: 80%;
}

.list li{
    list-style: none;
    padding: 2%;
}

.list a{
    text-decoration: none;
    color: gray;
}

.list a:hover{
    color: white;
}
.column-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}
.box-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 100vw;
}

.box-2 p{
    margin: 2%;
}

/* small-device: 576px;
medium-device: 768px;
large-device: 992px;
extra-large-device: 1200px; */

/* Media queries for smaller devices */
@media (max-width: 576px) {
    .column-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5%; 
    }
    
}

/* Media queries for medium devices */
@media (max-width: 768px) {

    .column-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5%; 
    }

}

