/* ! Without `!important` the text color wont change ! */

.navbar-container{
    background-color: #2fc7ff;
    width: 100vw;

    max-width: 100%;
}


.navElement{
    text-decoration: none;
    text-align: center;
    color: black !important;
    padding: 8px;
    border-radius: 5px;
    white-space: nowrap;
}



.navElement:hover{
    background-color: #221044;
    color:whitesmoke !important; 
}
.navElement a:hover{
    background-color: #221044;
    color:whitesmoke !important;
}



#login{
    text-align: center;
    background-color: #221044;
    border-radius: 5px;
    color:whitesmoke !important;

    margin-right: 0rem;
}

.welcomeMessage{
    font-family: Raleway;
    font-weight: bolder;
}