.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100vw; /* vw for dynamic image size */
  background-repeat: no-repeat;
  
  width: 100vw;
  height: calc((9/16)*100vw); 
  /* since images are usally 16:9 aspect ration therefore 100vw/height_to_find = 16/9
    therefore, container_height_to_find = (9/16)*container_width
  */

}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
