
.chart-container{
    
    width: 65%;
    max-width: 100%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 10%;

    margin: auto;
}


/* small-device: 576px;
medium-device: 768px;
large-device: 992px;
extra-large-device: 1200px; */

/* Media queries for smaller devices */
@media (max-width: 576px) {

    .chart-container{
        width: 95%;
    }
    
}

/* Media queries for medium devices */
@media (max-width: 768px) {
    .chart-container{
        width: 85%;
    }
}
