.firForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.firForm form {
    background-color: #f9f9f9;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 40px;
    margin: 45px 180px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
    padding: 20px;
    min-width: fit-content;
}

.col-1,
.col-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin: 25px 85px;
}

#crimeType,
#crimeArea,
#crimeAddress,
#crimeDateTime,
#victimName,
#victimAge,
#victimGender,
#victimRelation,
#userName,
#userAge,
#userGender,
#userEmail,
#proofOfCrime,
#witnesses,
#additionalInfo {
    width: 380px;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    outline: none;
    margin-bottom: 5px;
}

button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #23c3fd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

#disabledOpt {
    color: grey;
}

legend{
    font-size: large;
    font-weight: 600;
    margin: 15px 2px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
