.register-new-officer {
  max-width: 500px;
  margin: 10% auto;
  padding: 20px;
  background-color: #ffffff; /* Light background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 3vh;
}

.register-new-officer form {
  border: none;
  width: 60%;
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff; /* Light background color */
  border-radius: 8px;
}

.register-new-officer input,
.register-new-officer select {
  width: 100%;
  margin-bottom: 15px; /* Increased margin bottom for better spacing */
  padding: 12px; /* Increased padding for better visual appeal */
  border: 1px solid #ddd; /* Lighter border color */
  border-radius: 5px;
  outline: none;
}

.register-new-officer button {
  width: 100%;
  background-color: #23c3fd; /* Main theme color */
  color: #ffffff; /* White text color */
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

.register-new-officer button:hover {
  background-color: #1d9ed8; /* Slightly darker shade of the main theme color on hover */
}
