/* Style for the container holding search bar and table */
.container {
    display: flex;
    flex-direction: column;
  }
  
  /* Style for the search bar */
  #searchbar {
    padding: 8px;
    margin-bottom: 16px;
    width: 30%; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;

    align-self: flex-start;

  }
  
  /* Style for the table container */
  .table-container {
    flex-grow: 1;
  }
  
  /* Style for the table */
  table {
    width: 80%;
    border-collapse: collapse;
    background-color: #ffffff; /* Background color for the table */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */

    margin-left: 3rem;

  }
  
  /* Style for table headers */
  th {
    padding: 12px;
    text-align: left;
  }
  
  /* Style for table cells */
  td {
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 12px;
  }
  
  /* Add some space between rows */
  tr {
    background-color: transparent;
    margin-bottom: 8px;
  }
  
  /* Center the table */
  .center {
    margin: auto;
  }
  
  /* Add hover effect to icons */
  .on-hover-pointer:hover {
    cursor: pointer;
  }
  