.case-details {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #ddd;
    padding: 25px;
    border-radius: 10px;
    max-width: 600px;
    margin: 3rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.detail {
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
}

.user-details,
.victim-details,
.crime-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding-bottom: 15px;
    text-align: left;
}

.officer-info,
.case-status {
    font-weight: bold;
    color: #333;
}

.imp-details {
    text-align: center;
}
