.user-details{

  
  height: 100vh;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.user-details input, .user-details button{

width: fit-content;

margin: 5px;

}